@import 'header.css';
@import 'main.css';
@import 'lotto.css';
@import 'form.css';
@import 'logs.css';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3A3A3A;
    color: white;
}

a {
    text-decoration: none !important;
}