{% extends 'base.html' %}

{% block content %}
<div class="greeting">
    Hello, <strong>{{user}}</strong>! <br>
    Below are your starred numbers.
</div>

<div class="container">
    {% for data in datas %}
    <div class="nums">
        <div class="nums_nums">
        {% for num in data[1] %}
        <div class="nums_num {% if num <=10 %}yellow{% elif num <=20 %}blue{% elif num <=30 %}red{% elif num <=40 %}grey{% else %}green{% endif %}">
            {{num}}
        </div>
        {% endfor %}
        </div>
        <div class="nums_star">
            <a href="{{url_for('starred', id=data[0])}}">
            {% if data[2] == True %}
            ★
            {% else %}
            ☆
            {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}